<section class="section">

    <div class="contact-container">
        <div class="contact">
            <h2>Kontaktieren Sie mich</h2>
            <h1>Lasst uns zusammenarbeiten</h1>
            <span>Haben Sie ein Problem zu lösen?</span>
            <p>Kontaktieren Sie mich über dieses Formular, ich bin daran interessiert,
                von Ihren Ideen zu hören und an ihren Projekten mitzuwirken. </p>
            <p>Brauchen Sie einen Frontend-Entwickler? <span>Lassen Sie uns reden! </span> <br>
            </p>

        </div>


        <div class="contact-form">
            <form>
                <div class="form-field">
                    <input type="text" id="name" placeholder="Wie ist Ihr Name?" />
                    <label for="name">Ups! Ihr Name scheint zu fehlen</label>

                </div>
                <div class="form-field">
                    <input type="email" id="email" placeholder="Wie lautet Ihre E-Mail?" />
                    <label for="email">Hoppla! Ihre E-Mail ist erforderlich</label>
                </div>
                <div class="form-field">
                    <textarea id="message" placeholder="Wie kann ich Ihnen helfen?"></textarea>
                    <label for="message">Was möchten Sie entwickeln?</label>
                </div>
                <div class="privacy-policy">
                    <input type="checkbox" id="privacy" />
                    <label for="privacy">
                        Ich habe die <a href="#" class="privacy-link">Datenschutzbestimmungen</a> gelesen und erkläre
                        mich mit der Verarbeitung meiner Daten wie beschrieben einverstanden.
                    </label>
                </div>
                <div class="button-container">
                    <button type="submit" class="custom-button">Hallo sagen :)</button>
                </div>
            </form>
        </div>
    </div>
</section>