$green-color: #3dcfb6;

.section {
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    font-family: 'Karla';

}

.contact-container {
    max-width: 1248px;
    min-width: 300px;
    width: 100%;
    height: 541px;
    display: flex;
    gap: 56px;
    margin-top: 100px;

    .contact h2 {
        font-size: 24px;
        color: $green-color;
    }

    h1 {
        font-family: 'FiraCode';
        font-size: 64px;
        color: $green-color;
        margin-top: 10px;
    }

    p {
        font-size: 1rem;
        color: #ffffff;
        margin-top: 10px;
    }

    span {
        color: $green-color;
    }
}

.text-line {
    border-bottom: 0.5px solid $green-color;
}

.contact-form {
    form {
        .valid-text {
            font-size: 18px;
            color: #c56a6a;
            position: absolute;
        }
        .valid-text-policy {
            font-size: 18px;
            color: #c56a6a;
            position: absolute;
            
        }
        .form-field {
            padding: 42px 0px 0px 0px;

            label {
                font-size: 18px;
                color: white;
                margin-bottom: 5px;
                display: block;
            }

            input,
            textarea {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid transparent;
                background: transparent;
                color: $green-color;
                font-size: 24px;
                box-sizing: border-box;
                transition: all 0.3s ease;
                font-family: "FiraCode";

                &:focus {

                    border: 1px solid white;
                }

                &::placeholder {
                    color: $green-color;

                }
            }

            .error {
                font-size: 0.9rem;
                color: #ff6b6b;
                margin-top: 5px;
            }
        }

        .privacy-policy {
            padding-top: 10px;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            color: #cccccc;

            input {
                margin-right: 10px;
                transform: scale(1.2);
            }

            .privacy-link {
                color: $green-color;
                text-decoration: none;
            }
            .privacy-text {
                padding-left: 24px;
            }
        }
    }
}

.terms-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.terms-label img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.terms-label img:hover {
    background-color: rgba(61, 207, 183, 0.4);
    border-radius: 100%;
}

.button-container {
    display: flex;
    gap: 30px;
    padding-top: 32px;

    .custom-button {
        position: relative;
        overflow: hidden;
        width: 150px;
        height: 50px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        transition: border-color 0.3s ease, color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-color: $green-color;
            color: $green-color;

            .button-text {
                animation: button_text_slide 4s forwards;
            }
        }

        .button-text {
            display: inline-block;
            white-space: nowrap;
            position: absolute;
            transform: translateX(0);
            transition: transform 1s linear;
        }
    }
}

@media (max-width: 1210px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        margin-top: px;
    }

    .contact-form-container {}

    .section {
        height: 800px;
    }
}