<section class="section">

    <div class="contact-container">
        <div class="contact">
            <h2>Kontaktieren Sie mich</h2>
            <h1>Lasst uns zusammenarbeiten</h1>
            <span>Haben Sie ein Problem zu lösen?</span>
            <p>Kontaktieren Sie mich über dieses Formular, ich bin daran interessiert,
                von Ihren Ideen zu hören und an ihren Projekten mitzuwirken. </p>
            <p>Brauchen Sie einen Frontend-Entwickler? <span>Lassen Sie uns reden! </span> <br>
            </p>

        </div>


        <div class="contact-form">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="text-line"></div>
                <div class="form-field">
                    <input #name="ngModel" minlength="4" [(ngModel)]="contactData.name" type="text" id="name"
                        name="name" placeholder="Wie ist Ihr Name?" required />

                    @if (!name.valid && name.touched && !name.disabled) {
                    <div class="valid-text">Ups! Ihr Name scheint zu fehlen</div>
                    }
                    <!-- <label for="name">Ups! Ihr Name scheint zu fehlen</label> -->
                </div>
                <br> <br>
                <div class="text-line"></div>
                <div class="form-field">
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        placeholder="Wie lautet Ihre E-Mail?" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

                    @if (!email.valid && email.touched && !email.disabled) {
                    <div class="valid-text">Hoppla! Ihre E-Mail ist erforderlich</div>
                    }
                    <!-- <label for="email">Hoppla! Ihre E-Mail ist erforderlich</label> -->
                </div>
                <br> <br>
                <div class="text-line"></div>


                <div class="form-field">
                    <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" class="text-line"
                        id="message" name="message" placeholder="Wie kann ich Ihnen helfen?" required></textarea>

                    @if (!message.valid && message.touched && !message.disabled) {
                    <div class="valid-text">Was möchten Sie entwickeln?</div>
                    }
                    <div class="text-line"></div>
                    <br> <br>
                    <!-- <label class="text-line" for="message">Hallo Konstantin, ich bin interessiert an...</label> -->
                </div>

                <div class="privacy-policy">
                    <button class="terms" type="button" (click)="toggleTerms()" required>
                        <img src="{{ img }}" alt="" />
                      </button>
                    <label for="privacy">
                        Ich habe die <a href="#" class="privacy-link">Datenschutzbestimmungen</a> gelesen und erkläre
                        mich mit der Verarbeitung meiner Daten wie beschrieben einverstanden.
                    </label>
                </div>

                <div class="button-container">
                    <button value="submit" type="submit" class="custom-button">Hallo sagen :)</button>
                </div>
            </form>
        </div>

    </div>
</section>