$green-color: #3dcfb6;

section {
    padding-top: 100px;
    max-height: 2080vh;
    max-width: 1440%;
    width: 100%;
    font-family: 'FiraCode';
    color: white;
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 20px;
    min-width: 320px;
}

h1 {
    font-size: 1.45rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    color: $green-color;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: $green-color;
}

p {
    margin: 10px 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $green-color;
    font-size: .85rem;
}