$green-color: #3dcfb6;

section {
    width: 100%;
    padding-top: 120px;
    font-family: 'FiraCode';
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    margin: 24px;
    max-width: 1440px;
}

h1 {
    font-size: 1.45rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    color: $green-color;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: $green-color;
}

p {
    margin: 10px 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $green-color;
    font-size: .85rem;
}