$green-color: #3dcfb6;

.section {
    width: 100%;
    height: 581px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: start;
    font-family: 'Karla';
}

.portfolio {
    padding-left: 150px;
}

.portfolio h2 {
    font-size: 24px;
    color: $green-color;
}

.portfolio h1 {
    font-family: 'FiraCode';
    font-size: 64px;
    color: $green-color;
    margin-top: 10px;
}

.portfolio p {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 10px;
}

.projects {
    margin-top: 20px;
}

.project {
    width: 880px;
    height: 109px;
    background-color: transparent;
    border-top: 1px solid $green-color; 
    border-bottom: 1px solid $green-color;
    padding: 42px 0px 0px 0px;
    cursor: pointer;
}

.project-name{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'FiraCode';
}

.project:hover {
    background-color: #00ffcc28;
    color: #121212;
}

.project-name span {
    font-size: 24px;
    color: white;
}

.hover-image {
    transform: translateY(-50%);
    width: 300px;
    height: 200px;
    overflow: hidden;
    z-index: 10;
}

.project:hover .hover-image {
    display: block;
}

.hover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}