<section class="section">
    <div class="container">
        <div class="photo-container">
            <img class="main-image" src="./assets/img/about-me/K.Stark.png">
            <img class="background-image" src="./assets/img/about-me/Capa_1.png">
        </div>

        <div class="about-me-container">
            <div>
                <h2>{{ 'introduction' | translate }}</h2>
            </div>
            <div class="about-me-text-container">
                <h1>{{ 'aboutMe' | translate }}</h1>
                <p>{{ 'aboutMeText' | translate }}</p>
                <div class="about-me-text">
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/llocation_on.png" alt="Location icon">
                        </div>
                        <div class="text">{{ 'location' | translate }}</div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/cognition.png" alt="Cognition icon">
                        </div>
                        <div class="text">{{ 'personality' | translate }}</div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/Quality.png" alt="Quality icon">
                        </div>
                        <div class="text">{{ 'challenge' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>