<section class="section">
    <div class="container">
        <div class="photo-container">
            <img class="main-image" src="./assets/img/about-me/K.Stark.png">
            <img class="background-image" src="./assets/img/about-me/Capa_1.png">
        </div>

        <div class="about-me-container">
            <div><h2>Vorstellung</h2></div>
            <div class="about-me-text-container">
                <h1>Über mich</h1>
                <p>
                    Hi, ich bin ein deutschsprachiger Frontend-Entwickler aus der Nähe von Bayreuth. Mit großer
                    Begeisterung für die vielseitigen Möglichkeiten der IT gestalte ich ansprechende und
                    benutzerfreundliche Webseiten sowie Anwendungen, die sowohl optisch als auch funktional überzeugen.
                </p>
                <div class="about-me-text">
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/llocation_on.png" alt="Location icon">
                        </div>
                        <div class="text">
                            Ich bin flexibel, was das Arbeitsumfeld betrifft, und kann sowohl in der Nähe von Bayreuth
                            als auch aus der Ferne effektiv arbeiten, wobei ich remote Arbeit bevorzuge.
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/cognition.png" alt="Cognition icon">
                        </div>
                        <div class="text">
                            Für mich ist Programmieren nicht nur eine technische Aufgabe - es ist ein kreativer Prozess.
                            Mit einem Kopf voller Ideen und einem Hang dazu, auch mal unkonventionelle Wege zu gehen,
                            finde ich Lösungen, die andere vielleicht übersehen. Dabei ist es mein Ziel, durch kreative
                            Ansätze Lösungen zu
                            entwickeln, die sowohl praktisch als auch innovativ sind.
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./assets/img/about-me/Quality.png" alt="Quality icon">
                        </div>
                        <div class="text">
                            Ich bin offen für neue Herausforderungen und ständig auf der Suche nach Möglichkeiten, meine
                            Kenntnisse und Fähigkeiten weiter auszubauen.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>