<section>

    <div><app-navbar></app-navbar></div>
    <div class="title">
        <div class="titel-text">
            <div>
                <h1>Frontend Developer</h1>
            </div>
            <div>
                <h2>Konstantin Stark</h2>
            </div>
            <div class="button-container">
                <button class="custom-button" id="left-button">
                    <span class="button-text">Check my work</span>
                </button>
                <button class="custom-button" id="right-button">
                    <span class="button-text">Contact me</span>
                </button>
            </div>
        </div>
    </div>

    <div class="side-button-container">
        <div class="line"></div>
        <button class="scroll-button">
            <img src="./assets/img/hero/Vector 8.png" alt="Pfeil" class="arrow">
        </button>
    </div>

</section>