<section>
    <div><app-navbar></app-navbar></div>
    <div class="title">
        <div class="titel-text">
            <div>
                <h1>{{ 'frontendDeveloper' | translate }}</h1>
            </div>
            <div>
                <h2>{{ 'name' | translate }}</h2>
            </div>
            <div class="button-container">
                <a href="#projects">
                    <button class="custom-button" id="left-button">
                        <span class="button-text">{{ 'myProjects' | translate }}</span>
                    </button>
                </a>
                <a href="#contact">
                    <button class="custom-button" id="right-button">
                        <span class="button-text">{{ 'contact' | translate }}</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="scrolling-banner">
        <div class="scrolling-text">
            <p>
                {{ 'frontendDeveloper' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'availableForRemoteWork' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'livingNearBayreuth' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'readyForNewChallenges' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'frontendDeveloper' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'availableForRemoteWork' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'livingNearBayreuth' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'readyForNewChallenges' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'frontendDeveloper' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'availableForRemoteWork' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'livingNearBayreuth' | translate }}<span class="dot-text">&nbsp;•&nbsp;</span>
                {{ 'readyForNewChallenges' | translate }}
            </p>
        </div>
    </div>
    <div class="left-side-button-container">
        <button class="scroll-button">
            <img src="./assets/img/hero/Vector 8.png" alt="Pfeil" class="arrow">
        </button>
        <div class="left-line"></div>
    </div>
    <div class="right-side-button-container">
        <div class="contacts">
            <a class="mail-to" href="mailto:konstantin.stark.dev@gmail.com" target="_blank">
                konstantin.stark.dev&#64;gmail.com
            </a>
            <a class="mail-link" href="mailto:konstantin.stark.dev@gmail.com" target="_blank"></a>
            <a class="git-link" href="https://github.com/KonstantinStark" target="_blank"></a>
            <a class="linked-link" href="https://linkedin.com/in/konstantin-stark-dev" target="_blank"></a>
        </div>
        <div class="right-line"></div>
    </div>
</section>