<!-- <div class="gradient-box"></div> -->
<section>

    <div><app-navbar></app-navbar></div>
    <div class="title">
        <div class="titel-text">
            <div>
                <h1>Frontend Developer</h1>
            </div>
            <div>
                <h2>Konstantin Stark</h2>
            </div>
            <div class="button-container">
                <a href="#projects">
                    <button class="custom-button" id="left-button">
                        <span class="button-text">Meine Projekte</span>
                    </button></a>
                <a href="#contact">
                    <button class="custom-button" id="right-button">
                        <span class="button-text">Kontakt</span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="scrolling-banner">
        <div class="scrolling-text">
            <p>| Verfügbar für Remote-Arbeit <span class="dot-text">| • |</span> Frontend-Entwickler <span
                    class="dot-text">| • |</span> Wohnhaft nähe Bayreuth <span class="dot-text">| • |</span> Bereit für
                neue
                Herausforderungen <span class="dot-text">|</span> <span class="dot-text"> • |</span> Verfügbar für
                Remote-Arbeit <span class="dot-text">| • |</span> Frontend-Entwickler <span class="dot-text">| •
                    |</span> Wohnhaft nähe Bayreuth <span class="dot-text">| • |</span> Bereit für neue
                Herausforderungen <span class="dot-text">| • </span> | Verfügbar für Remote-Arbeit <span
                    class="dot-text">| • |</span> Frontend-Entwickler <span class="dot-text">| • |</span> Wohnhaft nähe
                Bayreuth <span class="dot-text">| • |</span> Bereit für neue
                Herausforderungen <span class="dot-text">|</span> <span class="dot-text"> • |</span> Verfügbar für
                Remote-Arbeit <span class="dot-text">| • |</span> Frontend-Entwickler <span class="dot-text">| •
                    |</span> Wohnhaft nähe Bayreuth <span class="dot-text">| • |</span> Bereit für neue
                Herausforderungen <span class="dot-text">|</span>
            </p>
        </div>
    </div>

    <div class="left-side-button-container">
        <button class="scroll-button">
            <img src="./assets/img/hero/Vector 8.png" alt="Pfeil" class="arrow">
        </button>
        <div class="left-line"></div>
    </div>

    <div class="right-side-button-container">
        <div class="contacts">
            <a class="mail-to" href="mailto:konstantin.stark.dev@gmail.com" target="_blank">
                konstantin.stark.dev&#64;gmail.com
            </a>
            <a class="mail-link" href="mailto:konstantin.stark.dev@gmail.com" target="_blank"></a>
            <a class="git-link" href="https://github.com/KonstantinStark" target="_blank"></a>
            <a class="linked-link" href="https://linkedin.com/in/konstantin-stark-dev" target="_blank"></a>
        </div>
        <div class="right-line"></div>
    </div>

</section>