$green-color: #3dcfb6;

section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #1C1C1C, #08463B);
}

.titel-text {
    padding-top: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'FiraCode';
    color: white;
    font-weight: 400;
    font-size: 40px;

}

h2 {
    font-family: 'Karla';
    color: white;
    font-weight: 700;
    font-size: 128px;
}


.button-container {
    display: flex;
    gap: 60px;
    padding-top: 32px;

    .custom-button {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 50px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        transition: border-color 0.3s ease, color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-color: $green-color;
            color: $green-color;

            .button-text {
                animation: button_text_slide 4s forwards;
            }
        }

        .button-text {
            display: inline-block;
            white-space: nowrap;
            position: absolute;
            transform: translateX(0);
            transition: transform 1s linear;
        }
    }
}

@keyframes button_text_slide {
    0% {
        left: 0;
    }

    29% {
        left: -120%;
    }

    30% {
        opacity: 0;
        left: 120%;
    }

    31% {
        opacity: 1;
    }

    80% {
        left: 20%;
    }
}


.scrolling-banner {
    position: absolute;
    bottom: 5.2%;
    width: 100%;
    overflow: hidden;
    transform: skewY(-3deg);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    z-index: 100;

    .scrolling-banner::before {
        filter: blur(8px);
    }

    .scrolling-text {
        display: inline-block;
        white-space: nowrap;
        color: #00f3d2;
        font-family: 'Karla-Light';
        font-size: 24px;
        font-weight: 100;
        animation: scroll-text 100s linear infinite;

        .dot-text {
            word-spacing: 4rem;
        }
    }
}

@keyframes scroll-text {
    0% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.left-side-button-container {
    .scroll-button {
        background-color: transparent;
        border: 2px solid $green-color;
        border-radius: 40px;
        position: absolute;
        top: 73%;
        left: 3.2%;
        cursor: pointer;
        z-index: 2;
        width: 30px;
        height: 45px;

        .arrow {
            width: 8px;
            height: auto;
            animation: moveArrow 2s infinite;
        }
    }

    .left-line {
        height: 190px;
        width: 1px;
        background-color: $green-color;
        position: absolute;
        top: 80%;
        left: 3.9%;
        z-index: 1;
    }
}

@keyframes moveArrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.right-side-button-container {
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 38%;
        right: 3.2%;
        z-index: 2;
        width: 30px;
        height: 45px;
        gap: 23px;
        cursor: pointer;

        .mail-to {
            font-family: 'Karla';
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
            color: white;
            font-size: 18px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $green-color;
            }
        }

        .git-link:hover {
            content: url('./../../../assets/img/hero/GitHubHover.png');
        }

        .linked-link:hover {
            content: url('./../../../assets/img/hero/Hover.png');
        }
    }

    .right-line {
        background-color: white;
        height: 190px;
        width: 1px;
        position: absolute;
        top: 80%;
        right: 3.9%;
        z-index: 1;
    }
}