<app-navbar></app-navbar>
<section>
    <div class="legal-notice-container">
    <h3>Impressum</h3> <br>
        <address>
            Konstantin Stark<br />
            Hauptstr. 22<br />
            95339 Neuenmarkt<br />
            <br>
            <h3>Kontakt</h3> <br>
            Telefon: +49 160 93122338<br />
            E-Mail:
            <a href="mailto:konstantin.stark.dev@gmail.com">konstantin.stark.dev&#64;gmail.com</a><br />
        </address>
        <p>Quelle: <a href="https://www.e-recht24.de/" target="_blank">eRecht24</a></p>
    </div>
</section>
<app-footer style="display: flex; justify-content: center;"></app-footer>