$green-color: #3dcfb6;

section {
    height: 100vh;
    width: 100%;
    font-family: 'FiraCode';
    color: white;
    display: flex;
    align-items: center;
}

h3 {
    padding-top: 5%;
    font-size: 48px;
    color: $green-color;
    font-family: "Karla";
    font-style: normal;
}

div {
    font-size: 24px;
    width: 100%;
    max-width: 1920px;
    text-align: center;
}

a {
    color: $green-color;
    text-decoration: none;
}