<div class="navbar">
    <div class="header-content">
        <div class="d_none">
            <div class="nav-links">
                <div class="toggle-switch">
                    <input type="checkbox" id="language-switch" />
                    <label for="language-switch" (click)="switchLanguage()">
                        <span class="switch-text en">DE</span>
                        <span class="switch-text de">EN</span>
                    </label>
                </div>
                <a href="#about-me">{{ 'aboutMe' | translate }}</a>
                <a href="#skills">{{ 'skills' | translate }}</a>
                <a href="#projects">{{ 'project' | translate }}</a>
            </div>
        </div>
        <div class="stark-logo">
            <img src="./assets/img/navbar/starklogo.png">
        </div>
    </div>
    <div class="hamburger-menu" [class.d-none]="menuHidden">
        <div>
            <div class="nav-links">
                <a href="#about-me">{{ 'aboutMe' | translate }}</a>
                <a href="#skills">{{ 'skills' | translate }}</a>
                <a href="#projects">{{ 'project' | translate }}</a>
                <div class="burger-toggle-switch">
                    <input type="checkbox" id="burger-language-switch" />
                    <label for="language-switch" (click)="switchLanguage()">
                        <span class="switch-text en">DE</span>
                        <span class="switch-text de">EN</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="burger-container">
        <label class="burger">
            <input type="checkbox" (click)="toggleHamburgerMenu()" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
</div>