<div class="navbar">
    <div class="nav-links">
        <div class="toggle-switch">
            <input type="checkbox" id="language-switch" />
            <label for="language-switch">
                <span class="switch-text en">EN</span>
                <span class="switch-text de">DE</span>
            </label>
        </div>
        <a href="#about-me">Über mich</a>
        <a href="#skills">Fertigkeiten</a>
        <a href="#projects">Projekte</a>
    </div>

    <div class="stark-logo">
        <img src="./assets/img/navbar/starklogo.png">
    </div>
</div>