* {
    font-family: 'FiraCode';
    font-size: 20px;
    color: white;
}

.navbar {
    width: 1920px;
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 24px;
        cursor: pointer;

        >p {
            &:hover {
                color: #3dcfb6;
            }
        }
    }
}