* {
    font-family: 'FiraCode';
    font-size: 20px;
    color: white;
}

.navbar {
    width: 1920px;
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}