/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-display: swap; 
    font-family: 'FiraCode';
    font-style: normal;
    src: url('./assets/fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    src: url('./assets/fonts/Karla-Regular.ttf');
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    src: url('./assets/fonts/RobotoMono-Regular.ttf');
}