/* You can add global styles to this file, and also import other style files */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--cursor-x, 50%) var(--cursor-y, 50%), #3dcfb6, transparent 13%);
    pointer-events: none;
    mix-blend-mode: screen;
    will-change: background-position;
    opacity: 0.15;
    z-index: 1001;
}

// .app-root {
//     background: linear-gradient(45deg, #1C1C1C 30%, #08463B 90%);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1920px;
}

@font-face {
    font-display: swap;
    font-family: 'FiraCode';
    font-style: normal;
    src: url('./assets/fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    src: url('./assets/fonts/Karla-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Karla-Light';
    font-style: normal;
    src: url('./assets/fonts/Karla-Light.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    src: url('./assets/fonts/RobotoMono-Regular.ttf');
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3dcfb6;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #1c1c1c;
}