<Section class="section">
    <div class="container">
        <div #animateElement class="skill-set-container">
            <div>
                <h2>{{ 'technologiesTitle' | translate }}</h2>
            </div>
            <div class="skill-set-text-container">
                <h1>Skills</h1>
                <p>
                    {{ 'skillsDescription' | translate }}
                </p>
                <h3> {{ 'needOtherSkill' | translate }} <span> {{ 'needOtherSkills' | translate }}</span></h3>
                <p> {{ 'contactPrompt' | translate }}</p>
                <div class="button-container">
                    <a href="#contact">
                        <button class="custom-button" id="right-button">
                            <div class="button-text">{{ 'writeToMeButton' | translate }}</div>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="skill">
            <div class="skill-icon-container">
                <img *ngFor="let icon of icons" class="icon" [src]="icon.image" [alt]="icon.name"
                    (mouseover)="onHover(icon.name)" (mouseout)="onLeave(icon.name)" />
                <div class="bubble" *ngIf="hoveredIcon === 'Growth mindset'">
                    <div class="bubble-content">
                        <p class="bubble-text">{{ 'readyToLearn' | translate }}</p>
                        <img class="bubble-icon" src="./assets/img/skill-set/Frame 300.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</Section>