<Section class="section">
    <div class="container">
        <div #animateElement class="skill-set-container">
            <div>
                <h2>Technologien</h2>
            </div>
            <div class="skill-set-text-container">
                <h1>Fertigkeiten</h1>
                <p>
                    Auf meinem Weg habe ich an verschiedenen Projekten gearbeitet und dabei eine Reihe von
                    Frontend-Technologien und -Konzepten erworben. Ich bin offen für neue Technologien und Methoden, um
                    meine Fähigkeiten kontinuierlich zu verbessern und in der sich ständig weiterentwickelnden
                    Landschaft
                    der Webentwicklung an der Spitze zu bleiben.
                </p>
                <h3>Sie benötigen eine <span>andere Fähigkeit?</span></h3>
                <p>Nehmen Sie Kontakt mit mir auf. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.</p>
                <div class="button-container">
                    <a href="#contact">
                        <button class="custom-button" id="right-button">
                            <div class="button-text">Schreibe mir</div>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="skill">
            <div class="skill-icon-container">
                <img *ngFor="let icon of icons" class="icon" [src]="icon.image" [alt]="icon.name"
                    (mouseover)="onHover(icon.name)" (mouseout)="onLeave(icon.name)" />
                <div class="bubble" *ngIf="hoveredIcon === 'Growth mindset'">
                    <div class="bubble-content">
                        <p class="bubble-text">Bereit neues zu lernen</p>
                        <img class="bubble-icon" src="./assets/img/skill-set/Frame 300.png" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</Section>