$green-color: #3dcfb6;

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    font-family: 'Karla';
    background: radial-gradient(circle at left, #08463B 1%, #1C1C1C 20%);
}

.skill-set-container {
    margin: 150px 300px;

    h2 {
        font-size: 24px;
        color: $green-color;
        padding-bottom: 10px;
    }
}

.skill-set-text-container {
    width: 568px;
    height: 500px;
    background-color: #1f2e2b;
    padding: 30px;
    border: 1px solid $green-color;
    border-radius: 40px;
    flex: 1;
}

h1 {
    font-family: 'FiraCode';
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 20px;
    color: $green-color;
}

h3 {
    font-family: 'FiraCode';
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

span {
    color: $green-color;
}

p {
    color: #ffffff;
}

.button-container {
    display: flex;
    gap: 60px;
    padding-top: 32px;

    .custom-button {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 50px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        transition: border-color 0.3s ease, color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-color: $green-color;
            color: $green-color;

            .button-text {
                animation: button_text_slide 4s forwards;
            }
        }

        .button-text {
            display: inline-block;
            white-space: nowrap;
            position: absolute;
            transform: translateX(0);
            transition: transform 1s linear;
        }
    }
}

@keyframes button_text_slide {
    0% {
        left: 0;
    }

    29% {
        left: -120%;
    }

    30% {
        opacity: 0;
        left: 120%;
    }

    31% {
        opacity: 1;
    }

    80% {
        left: 20%;
    }
}

.skill-icon-container {
    margin: 190px 100px 0px -130px;

    img {
        padding: 30px;
    }
}